input[type="text"] {
  width: 90%;
}

.warn {
  background-color: var(--background-alt);
  padding: 0.1em 1rem;
}

div {
  padding: 0 0 0.7rem;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
